<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dti.g25.projet_s">


    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:label="lsSeances" android:name=".ui.activité.VoirListeSeancesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activité.MainActivity">
        </activity>
        <activity android:label="connect" android:name=".ui.activité.ConnexionActivité">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activité.BtnTestVoirUnCoursGroupeActivity"/>
        <activity android:label="vCoursGroupe" android:name=".ui.activité.VoirCoursGroupeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity android:name=".ui.activité.PrendrePrésenceActivité">

        </activity>
        <activity android:label="vSeance" android:name=".ui.activité.VoirSeanceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activité.VoirUnEleve">
        </activity>
        <activity android:name=".ui.activité.VoirUnCourGroupeActivity"
            android:parentActivityName=".ui.activité.BtnTestVoirUnCoursGroupeActivity"/>
        <activity android:name=".ui.activité.VoirListeÉlevesActivité"/>
    </application>

</manifest>
